<% flash.err.forEach(flash => { %>
<div class="bg-red-500 text-white p-4 my-6 rounded-lg">
    <%= flash %>
</div>
<% }) %>

<% flash.success.forEach(flash => { %>
<div class="bg-green-400 text-white p-4 my-6 rounded-lg">
    <%= flash %>
</div>
<% }) %>